<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../../../resources/vendors/bootstrsp/bootstrap.min.css" rel="stylesheet">
    <link href="../../../resources/vendors/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="../../../resources/vendors/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="../../../resources/assets/css/style.css" rel="stylesheet">
</head>

<body>

    



    <div class="container my-5">
       <div class="">
            <div class="">
                <div class="card text-center">
                    <div class="card-header bg-primary text-white">
                        <h3 class="">Join as an employer or a client or a freelancer</h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="d-flex justify-content-center my-5">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="card my-2 float-end">
                                            <div class="card-body my-4">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                    
                                                  </div>
                                                <div>
                                                    <i class="fa-solid fa-briefcase"></i>
                                                </div>
                                                <div>
                                                    <h4 class="card-text">
                                                        I’m an employer/a client, hiring for a job/project</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="card my-2 float-start">
                                            <div class="card-body my-4">
                                                <div>
                                                    <i class="fa-solid fa-briefcase"></i>
                                                </div>
                                                <div>
                                                    <h4 class="card-text">
                                                        I’m an applicant, looking for job</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </form>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </div>
                </div>
            </div>
       </div>
    </div>



    <!-- script start -->
    <script src="../../../resources/vendors/bootstrsp/bootstrap.bundle.min.js"></script>
    <script src="../../../resources/vendors/jquery/jquery-3.6.1.min.js"></script>
</body>

</html>