<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobPortal</title>
    <link href="../../resources/vendors/bootstrsp/bootstrap.min.css" rel="stylesheet">
    <link href="../../resources/vendors/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="../../resources/vendors/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="../../resources/assets/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- navbar start -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Job Portal</a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Disabled</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Link</a>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item me-2 mb-2 mb-lg-0">
                        <button class="btn btn-outline-success btn-sm" type="submit">Log In</button>
                    </li>
                    
                    <li class="nav-item me-2 mb-2 mb-lg-0">
                        <button class="btn btn-outline-success btn-sm" type="submit">Sign Up</button>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav><br><br>
    <!-- navbar end -->

    <!-- Job by category cards start -->
    <div class="container  my-5">
        <div>
            <p>JOB BY CATEGORY</p>
        </div>

        <!-- Job by category cards row start-->
        <div class="row">
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div><br>
        <!-- Job by category cards row end -->

        <div class="text-end">
            <a href="#">Browse more</a>
        </div>
    </div>
    <!-- Job by category cards end -->

    <!-- All current job cards start -->
    <div class="container  my-5">
        <div>
            <p>CURRENT JOB</p>
        </div>

        <!-- All current job cards row start-->
        <div class="row">
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- All current job cards row end -->

        <div class="text-end">
            <a href="#">Browse more</a>
        </div>
    </div>
    <!-- All current job cards end -->



    <!--Freelance Job by category cards start -->
    <div class="container  my-5">
        <div>
            <p>FREELANCE JOB BY CATEGORY</p>
        </div>

        <!--Freelance Job by category cards row start-->
        <div class="row">
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center my-4">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div><br>
        <!--Freelance Job by category cards row end -->

        <div class="text-end">
            <a href="#">Browse more</a>
        </div>
    </div>
    <!--Freelance Job by category cards end -->

    <!-- All current Freelance job cards start -->
    <div class="container  my-5">
        <div>
            <p>CURRENT FREELANCE JOB</p>
        </div>

        <!-- All current Freelance job cards row start-->
        <div class="row">
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- All current Freelance job cards row end -->

        <div class="text-end">
            <a href="#">Browse more</a>
        </div>
    </div>
    <!-- All current Freelance job cards end -->








    <!-- script start -->
    <script src="../../resources/vendors/bootstrsp/bootstrap.bundle.min.js"></script>
    <script src="../../resources/vendors/jquery/jquery-3.6.1.min.js"></script>
</body>

</html>