<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../../../resources/vendors/bootstrsp/bootstrap.min.css" rel="stylesheet">
    <link href="../../../resources/vendors/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="../../../resources/vendors/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="../../../resources/assets/css/style.css" rel="stylesheet">
</head>
<body>


    <!-- All current Freelance job cards start -->
    <div class="container  my-5">
        <div class="text-center">
            <h1>CURRENT FREELANCE JOB</h1>
        </div>

        <!-- All current Freelance job cards row start-->
        <div class="row">
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-body  my-4">
                        <div>
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div>
                            <h4 class="card-text">John Doe</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- All current Freelance job cards end -->





    <!-- script start -->
    <script src="../../../resources/vendors/bootstrsp/bootstrap.bundle.min.js"></script>
    <script src="../../../resources/vendors/jquery/jquery-3.6.1.min.js"></script>
</body>
</html>