<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../../../resources/vendors/bootstrsp/bootstrap.min.css" rel="stylesheet">
    <link href="../../../resources/vendors/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="../../../resources/vendors/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="../../../resources/assets/css/style.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="d-flex">
            <form class="form-login bg-secondary" action="" method="post">
                <div class="">
                    <h3 class="text-center text-light">Sign Up to Job Portal</h3>
                </div>
                <div class="row my-3">
                    <div class="col-lg-6 mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="col-lg-6">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" placeholder="Last name">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-lg-6 mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="col-lg-6">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="text" class="form-control" placeholder="Phone">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-lg-6 mb-3">
                        <label for="password1" class="form-label">Password</label>
                        <input type="text" class="form-control" placeholder="Password">
                    </div>
                    <div class="col-lg-6">
                        <label for="retype-password" class="form-label">Retype Password</label>
                        <input type="text" class="form-control" placeholder="Retype Password">
                    </div>
                </div>
                <div class="form-check">
                    <div class="row my-3">
                        <div class="col-lg-6 mb-3">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                I am an applicant.
                            </label>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                I am an employee or client
                            </label>
                        </div>
                    </div>
                </div>
                <div class="my-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="checkbox">Yes, I understand and agree to the Job Portal <a
                            href="">Terms of Service</a>, including the <a href="">User Agreement</a> and <a
                            href="">Privacy Policy</a>.</label>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary w-100">Create Account</button>
                </div>
                <div class="mt-5 text-center">
                    <p>Already have an account</p>
                    <button type="submit" class="btn btn-primary">Log In</button>
                </div>
            </form>
        </div>
    </div>





    <!-- script start -->
    <script src="../../../resources/vendors/bootstrsp/bootstrap.bundle.min.js"></script>
    <script src="../../../resources/vendors/jquery/jquery-3.6.1.min.js"></script>
</body>

</html>