<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../../../resources/vendors/bootstrsp/bootstrap.min.css" rel="stylesheet">
    <link href="../../../resources/vendors/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="../../../resources/vendors/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="../../../resources/assets/css/style.css" rel="stylesheet">
</head>

<body>

    <div class="custom-accordion">
        <div class="accordion-item active">
            <div class="title">
                Hypertext Markup Language
                <span class="open"><i class="fas fa-plus"></i></span>
                <span class="close"><i class="fas fa-minus"></i></span>
            </div>
            <div class="info">
                <p>This is accordion content</p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="title">
                Hypertext Markup Language
                <span class="open"><i class="fas fa-plus"></i></span>
                <span class="close"><i class="fas fa-minus"></i></span>
            </div>
            <div class="info">
                <p>This is accordion content</p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="title">
                Hypertext Markup Language
                <span class="open"><i class="fas fa-plus"></i></span>
                <span class="close"><i class="fas fa-minus"></i></span>
            </div>
            <div class="info">
                <p>This is accordion content</p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="title">
                Hypertext Markup Language
                <span class="open"><i class="fas fa-plus"></i></span>
                <span class="close"><i class="fas fa-minus"></i></span>
            </div>
            <div class="info">
                <p>This is accordion content</p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="title">
                Hypertext Markup Language
                <span class="open"><i class="fas fa-plus"></i></span>
                <span class="close"><i class="fas fa-minus"></i></span>
            </div>
            <div class="info">
                <p>This is accordion content</p>
            </div>
        </div>
    </div>





    <!-- script start -->
    <script src="../../../resources/vendors/bootstrsp/bootstrap.bundle.min.js"></script>
    <script src="../../../resources/vendors/jquery/jquery-3.6.1.min.js"></script>
    <script src="../../../resources/assets/javascript/custom.js"></script>
</body>

</html>