<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../../../resources/vendors/bootstrsp/bootstrap.min.css" rel="stylesheet">
    <link href="../../../resources/vendors/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="../../../resources/vendors/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="../../../resources/assets/css/style.css" rel="stylesheet">
</head>

<body>

    
    <div class="container">
        <div class="academic-summary">
            <div class="row">
                <div class="col">
                    <h6 class="fw-bold">Degree</h6>
                </div>
                <div class="col">
                    <h6 class="fw-bold">Subject/Group</h6>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6 class="fw-bold">Institute/Board</h6>
                </div>
                <div class="col">
                    <h6 class="fw-bold">Year of Passing</h6>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6 class="fw-bold">Result</h6>
                </div>
                <div class="col">
                    <h6 class="fw-bold">Scale</h6>
                </div>
            </div>
        </div>
    </div>

    <!-- script start -->
    <script src="../../../resources/vendors/bootstrsp/bootstrap.bundle.min.js"></script>
    <script src="../../../resources/vendors/jquery/jquery-3.6.1.min.js"></script>
    <script src="../../../resources/assets/javascript/custom.js"></script>
</body>

</html>